<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Respuesta al reto 1 del Curso de Frontend Developer en Platzi"/>
    <title>Platzi-Video</title>
  </head>
  <body>
		<header>
			<ul>
				<li>Cuenta</li>
				<li>Cerrar Sesión</li>
			</ul>
		</header>
		<main>
			<h1>Sección principal</h1>
		</main>
		<footer>
			<ul>
				<li>Contáctanos</li>
				<li>Política de privacidad </li>
				<li>Terminos y condiciones</li>
			</ul>
		</footer>
	</body>
</html>
