<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=p, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
  /*   p:last-child() {
      color: red;
    }
    p:first-child {
      color: pink;
    } */
/* 		p:nth-child(2n){
			color: green;
		}
		p:nth-child(2n+1){
			color: yellow
		} */
		p::first-letter{
			color:red;
			font-size: 32px;
		}
  </style>
  <body>
    <p>Conejo</p>
    <p>🐸 Rana</p>
    <p>🐶 Perrito</p>
    <p>🐱 Gatito</p>
    <p>🐷 PUERCO</p>
  </body>
</html>
